<div class="tag_section">
  <div class="collapse" id="tagCloudCollapse">
    <div class="card card-body" id="tagcloudBody">
      <% @notes.tag_counts.order("tags.name").each do |tag| %>
      <li class="tag-badge">
        <%= link_to "##{tag.name.parameterize(separator: '_')}", tag_path(tag.name), class: "tag-cloud-badge" %></li>
      <% end %>
    </div>
  </div>
</div>

